.headerContainer {
  background-color: var(--white);
  background-color: rgb(13, 10, 20);
  height: 6.5rem;
  padding: 2rem 4rem;

  box-shadow: rgb(13, 10, 20) 0px 0.5rem 1.5rem;

  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    h1 {
        font-size: 1.5rem;
        margin-left: 1rem;
        color: var(--purple-500);
    }
  }

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-500);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }

  @media (max-width: 1024px) {
    padding: 0 2.5rem;
  }

  @media (max-width: 767px) {
    padding: 0 1.5rem;

    p {
      display: none;
    }
  }
}
